{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "NODE_ENV": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:flowtype/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "flowtype"
    ],
    "settings": {
         "react": {
            "pragma": "React",
            "version": "15.0"
        }
    },
    "rules": {
        "no-var": [
            "error"
        ],
        "indent": [
            "error",
            2,
            { "SwitchCase": 1 }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "semi": [
            "error",
            "always"
        ],
        "react/no-deprecated": "error",
        "flowtype/space-before-type-colon": 0,
        "flowtype/space-after-type-colon": 0,
        "flowtype/union-intersection-spacing": 2,
        "flowtype/semi": 2,
        "flowtype/delimiter-dangle": 0,
        "flowtype/no-dupe-keys": 1
    }
}
